.container {
    flex-direction: column;
    background-color: #e9e9e9e8;
    background:  center no-repeat;
    min-height: 100vh;       
    display: flex;            
    justify-content: center;  
    align-items: center;      
    padding: 1rem;  
}
.form{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 3rem; ;
    width: 450px;   
    border: 1px solid #e5e7eb; 
    border-radius: 8px;        
    box-shadow: 0 4px 12px rgba(0,0,0,.06); 

}

h1.color { color: #1e4164; }
