.container {
    width: 80%;
    flex-direction: column;
    margin: 100px;
    padding-top: 30px 50px;
    background-color: #f9f9f9;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 20px;
}
